= semantic_form_for @child do |form|
  = form.semantic_errors

  = form.inputs do
    = form.input :first_name
    = form.input :last_name
    = form.input :birth_date
  = form.inputs :options do
    =form.input :snack
    =form.input :bottle
    =form.input :nap
  = form.inputs do
    = form.input :allergies, :input_html => {:rows => 2}
    = form.input :public_notes, :input_html => {:rows => 10}
    = form.input :private_notes, :input_html => {:rows => 15}

  = form.buttons do
    = form.commit_button
    %li.cancel
      = t(:or)
      = link_to t(:cancel), children_path