= semantic_form_for @child do |form|
  = form.semantic_errors

  = form.inputs do
    = form.input :first_name
    = form.input :last_name
    = form.input :birth_date
    = form.input :allergies
    = form.input :notes, :as => :text

  = form.buttons do
    = form.commit_button 'Save'