= semantic_form_for @child, :html => {:class =>'bp'} do |form|
  = form.semantic_errors

  = form.inputs do
    = form.input :first_name
    = form.input :last_name
    = form.input :birth_date
    = form.input :snack, :as => 'boolean'
    = form.input :bottle, :as => 'boolean'
    = form.input :nap, :as => 'boolean'
    = form.input :allergies
    = form.input :public_notes, :as => :text
    = form.input :private_notes, :as => :text

  = form.buttons do
    = form.commit_button t(:save)