%h1 Liste des enfants

%table
  %tr
    %th Pr&eacute;nom
    %th Nom
    %th
    %th
    %th

  - @children.each do |child|
    %tr
      %td= child.first_name
      %td= child.last_name
      %td= link_to 'Voir', child
      %td= link_to 'Éditer', edit_child_path(child)
      %td= link_to 'Supprimer', child, :confirm => 'Êtes-vous sûr?', :method => :delete

%br

= link_to 'Ajouter un enfant', new_child_path
