%h1 Liste des enfants

%table
  %tr
    %th
      =Child.human_attribute_name(:first_name)
    %th
      =Child.human_attribute_name(:last_name)
    %th
    %th
    %th

  - @children.each do |child|
    %tr{:id=>dom_id(child)}
      %td= link_to "#{child.first_name} #{child.last_name}", child
      %td= link_to t(:edit), edit_child_path(child)
      %td= link_to t(:delete), child, :confirm => t(:are_you_sure), :method => :delete

%br

= link_to t(:add_child), new_child_path
