#main
  .block
    .secondary-navigation
      %ul
        %li(id='list_children' class='active')= link_to t('list'), children_path
        %li(id='add_child')= link_to t('new'), new_child_path
    .content
      %h2
        = t('child.list')
      .inner
        %table
          %tr
            %th.first ID
            %th= Child.human_attribute_name(:first_name)
            %th= Child.human_attribute_name(:last_name)
            %th

          - @children.each do |child|
            %tr[child]{ :class => cycle('odd', 'even') }
              %td= child.id
              %td= link_to "#{child.first_name}", child
              %td= link_to "#{child.last_name}", child
              %td
                %ul
                  %li= link_to t(:show), child, :class => "show"
                  %li= link_to t(:edit), edit_child_path(child), :class => "edit"
                  %li= link_to t(:delete), child, :class => "delete", :confirm => t(:are_you_sure), :method => :delete
