%p#notice= notice

#child-healthcheck
  #child-name= "#{@child.first_name} #{@child.last_name}"

  #child-age= "#{@child.birth_date.to_s :medium} / #{distance_of_time_in_words(@child.birth_date, Date.today)}"
  #child-snack-yes X
  #child-snack-no X
  #child-drink-yes X
  #child-drink-no X
  #child-nap-yes X
  #child-nap-no X
  #child-allergies-yes= @child.allergic? ? 'X' : ''
  #child-allergies-no= @child.allergic? ? '' : 'X'
  #child-allergies-notes= @child.allergies
  #child-general-notes= @child.notes

= link_to 'Edit', edit_child_path(@child)
\|
= link_to 'Back', children_path
