%p#notice= notice

#child-healthcheck
  = image_tag 'recto.png', :alt => ""
  #child-name= "#{@child.first_name} #{@child.last_name}"

  #child-age= "#{@child.birth_date.to_s :medium} / #{distance_of_time_in_words(@child.birth_date, Date.today)}"
  #child-bottle-yes= @child.bottle? ? 'X' : ''
  #child-bottle-no= @child.bottle? ? '' : 'X'
  #child-snack-yes= @child.snack? ? 'X' : ''
  #child-snack-no= @child.snack? ? '' : 'X'
  #child-nap-yes= @child.nap? ? 'X' : ''
  #child-nap-no= @child.nap? ? '' : 'X'
  #child-allergies-yes= @child.allergic? ? 'X' : ''
  #child-allergies-no= @child.allergic? ? '' : 'X'
  #child-allergies-notes= @child.allergies
  #child-general-notes= @child.notes

#navigation
  = link_to 'Edit', edit_child_path(@child)
  \|
  = link_to 'Back', children_path
