%table{:border => '1px'}
  %tr
    %th
      Nb
    %th
      &Acirc;ge
    %th
      Nom
    %th
      Tarif
    %th
      Mode de paiement
    %th
      Re&ccedil;u
    %th
      D&icirc;ner
  -bookings.each_with_index do |booking, index|
    %tr
      %td
        ="#{index + 1}"
      %td
        ="#{distance_of_time_in_words(booking.child.birth_date, Date.today)}"
      %td
        ="#{booking.child.first_name} #{booking.child.last_name}"
      %td

      %td
        = booking.payment_method
      %td

      %td
