#box
  #login.block
    %h2= t('sign_in.title')
    .content.login
      = semantic_form_for resource, :url => session_path(resource_name) do |f|
        = f.inputs :email, :password
        = f.buttons do
          = f.commit_button